{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h2>Posts by hashtag {{hashtag.tag}}</h2>
    </div>

    <div class="menublock">
        {% for hashtag in hashtags %}
            <a class="btn" href="{% url 'post_list_tag' hashtag.tag %}">{{hashtag.tag}}</a>
        {% endfor %}
    </div>

    {% for post in posts %}
<div class="postlst">
        <div style="border: 1px solid; margin: 5px; padding: 10px; width: 300px">
            <a href="{% url 'post_detail' post_pk=post.pk %}">
                {%if post.image %}
                    <img src="{{ post.image.url }}" style="margin: 12px; border: 0px; float: left;  max-width: 100px; max-height: 100px;">
                {% else %}
                    <img src="/media/images/default/nophoto.png" style="margin: 12px; border: 0px; float: left;  max-width: 100px; max-height: 100px;">
                {% endif %}

                <div><h3>{{post.title}}</h3></div>
                <div><p>{{post.created_date.date}}</p></div>
                <div><p>{{post.author}}</p></div>
                <div style="text-align: right"><p>Comments count: {{post.comments.count}}</p></div>
                <div style="text-align: right"><p>{{post.count_view}}</p></div>
            </a>
            <div>
                <p>

                    <b  style="color: darkgreen;">+{{post.like}}</b>
                    <b  style="color: darkred;">-{{post.dislike}}</b>
                    {% for hashtag in post.hashtags.all %}
                    <a href="{% url 'post_list_tag' hashtag.tag %}">{{hashtag.tag}}&nbsp;</a>
                    {% endfor %}
                </p>
            </div>
            <a href="{% url 'edit_post' post_pk=post.pk %}" style="border: 1px solid; background-color: gray;border-radius: 2px; padding: 5px; color: white">Edit</a>
            <a href="{% url 'del_post' post_pk=post.pk %}" style="border: 1px solid; background-color: brown;border-radius: 2px; padding: 5px; color: white">Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock %}