{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div style="border: 1px solid; margin: 5px; padding: 10px; width: 300px">
            <a href="{% url 'post_detail' post_pk=post.pk %}">
                {%if post.image %}
                    <img src="{{ post.image.url }}" style="margin: 12px; border: 0px; float: left;  max-width: 100px; max-height: 100px;">
                {% else %}
                    <img src="/media/images/default/nophoto.png" style="margin: 12px; border: 0px; float: left;  max-width: 100px; max-height: 100px;">
                {% endif %}

                <div><h3>{{post.title}}</h3></div>
                <div><p>{{post.created_date.date}}</p></div>
                <div><p>{{post.author}}</p></div>
                <div style="text-align: right"><p>Comments count: {{post.comments.count}}</p></div>
                <div style="text-align: right"><p>{{post.count_view}}</p></div>
            </a>
            <div >
                <a class="favor" href="{% url 'change_favorite' post_pk=post.pk %}?lastpath={{request.path}}" {% if user in post.favorites.all %} style="background: yellow" {% endif %}>
                    favorites
                </a>
                <p>
                    <b  style="color: darkgreen;">+{{post.like}}</b>
                    <b  style="color: darkred;">-{{post.dislike}}</b>
                    <b  style="color: goldenrod;">{{post.avg_rang}}</b>
                    {% for hashtag in post.hashtags.all %}
                        <a href="{% url 'post_list_tag' hashtag.tag %}">{{hashtag.tag}}&nbsp;</a>
                    {% endfor %}
                </p>
            </div>
            <a href="{% url 'edit_post' post_pk=post.pk %}" style="border: 1px solid; background-color: gray;border-radius: 2px; padding: 5px; color: white">Edit</a>
            <a href="{% url 'del_post' post_pk=post.pk %}" style="border: 1px solid; background-color: brown;border-radius: 2px; padding: 5px; color: white">Delete</a>
        </div>
    {% endfor %}
{% endblock %}